In [1]:
import pandas as pd

In [3]:
datos = pd.read_csv('alquiler.csv', sep = ';')

In [5]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [6]:
datos['Tipo']

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [7]:
datos.Tipo

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [8]:
tipo_de_inmueble = datos.Tipo

In [9]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [10]:
tipo_de_inmueble.drop_duplicates()

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

In [11]:
tipo_de_inmueble

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [12]:
tipo_de_inmueble.drop_duplicates(inplace = True)

In [13]:
tipo_de_inmueble

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

# Organizando la visualizacion

In [14]:
tipo_de_inmueble.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [15]:
tipo_de_inmueble = pd.DataFrame(tipo_de_inmueble)

In [16]:
type(tipo_de_inmueble)

pandas.core.frame.DataFrame

In [17]:
tipo_de_inmueble.shape[0]

22

In [18]:
range(tipo_de_inmueble.shape[0])

range(0, 22)

In [19]:
for i in range(tipo_de_inmueble.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [20]:
tipo_de_inmueble.index = range(tipo_de_inmueble.shape[0])

In [21]:
tipo_de_inmueble.index

RangeIndex(start=0, stop=22, step=1)

In [22]:
tipo_de_inmueble

                          Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [23]:
tipo_de_inmueble.columns.name = 'Id'

In [24]:
tipo_de_inmueble

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial