In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [8]:
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [12]:
data = {'Linea' + str(i) :i+1 for i in range(5)} #otra forma de hace lo mismo que en las dos lineas de codigo de arriba
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [13]:
s = pd.Series(data)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [15]:
s1 = s +2
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [16]:
s2 = s + s1 #se pueden realizar operaciones matemeticas entre series siempre y cuando tengan el mismo indice
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

# DataFrames

##practica ejercicio aula

In [17]:
datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

In [18]:
datos = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(datos, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [19]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [21]:
datos = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

##video dataframes

In [22]:
data = [[1,2,3],[4,5,6],[7,8,9]] #lista de listas
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [26]:
index = ['Linea' +str(i) for i in range(3)]
index

['Linea0', 'Linea1', 'Linea2']

In [27]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [29]:
columns = ['Columna' +str(i) for i in range(3)]
columns

['Columna0', 'Columna1', 'Columna2']

In [30]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [32]:
data = {'Columna0':{'Linea0':1, 'Linea1':4, 'Linea2':7},'Columna1':{'Linea0':2, 'Linea1':5, 'Linea2':8},'Columna2':{'Linea0':3, 'Linea1':6, 'Linea2':9}} #diccionario
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [35]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [36]:
data2 = [(1,2,3),(4,5,6),(7,8,9)]  #lista de tuplas
data2

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [37]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [38]:
df1[df1>0] = 'A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [39]:
df2[df2>0] = 'B'
df2

       Columna0 Columna1 Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [40]:
df3[df3>0] = 'C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [41]:
df4 = pd.concat([ df1, df2, df3])
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [42]:
df5 = pd.concat([ df1, df2, df3], axis = 1)
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C