In [1]:
import pandas as pd

In [3]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
s.fillna(0) #no sustituye porque no se puso el parametro inplace = True, solo muestra

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [5]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [6]:
s.fillna(method = 'ffill')  #comienza del inicio y reeemplaza los valores nulos por los valores validos anteriores mas cercanos al nulo...no sustituye porque no se puso el parametro inplace = True, solo muestra

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [7]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [8]:
s.fillna(method = 'bfill')  #comienza del final y reeemplaza los valores nulos por los valores validos anteriores mas cercanos al nulo...no sustituye porque no se puso el parametro inplace = True, solo muestra

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [9]:
s.fillna(s.mean()) #es el metodo mas usado para cambiar nulos, y reemplaza los valores nulos por la media aritmetica de la Series.. no sustituye porque no esta con inplace

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [10]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [11]:
s.fillna(method = 'ffill', limit = 1)  #se agrega el limite para no reemplace mas de un valor seguido porque no es correcto sustituir tantos puntos en secuencia dentro de una Series y para evitar tener un error estadistico en un grafico

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [12]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [14]:
s1 = s.fillna(method = 'ffill', limit = 1) 
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [15]:
s2 = s1.fillna(method = 'bfill', limit = 1) 
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [ ]:
#s2 es la combinacion de un fillna con ffill y un fillna con bfill y se supone mas correcto que usar uno de los dos metodos solos